.banner {
    display: flex;
    .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px;
    }
    .image-container {
        flex: 1;
        width: 100%;
        img {
            width: 100%;
        }
    }
}
