$colrev: column-reverse;
$minimum-height: 100vh;
$primary: #252f5c;
$secondary: wheat;
@use "nav";
@use "banner";
@use "sass:math";
@mixin flexCenter($direction: column){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: $direction  ;
}
*,
*::before,
*::after{
    margin: 0;
    box-sizing: border-box;
}
.active {
    border-bottom: nav.$basic-border;
}
.container {
    min-height: $minimum-height;
    background-color: $primary;
    @include flexCenter();
    .content {
        height: 100px;
        width: 25%;
        background-color: $secondary;
    }
}
%basic-message{
    border: 10px solid violet;
    padding: 10px;
    color: #333;
}
.success {
    @extend %basic-message;
    border-color: green;
}
.error {
    @extend %basic-message;
    border-color: red;
}
.warning {
    @extend %basic-message;
    border-color: yellow;
}