:root{
    --primary: #1f274c;
    --primary-hover: #252f5c;
    --secondary: #fc5739;
    --secondary-hover: #fa6c53;
    --accent: #e5b220;
    --bg_section: #f3f5f8;
}
*{
    margin: 0;
    box-sizing: border-box;
}
header {
    background: var(--bg_section);
    padding: 10px 50px;    
}
header, .banner, .intro, .projects, .testimony, .approach, footer {
    padding: 10px 50px;
}
.banner, .projects, footer{
    background: var(--primary);
    color: white;
}
.logo {
    color: var(--secondary);
    font-style: bold;
    margin-right: auto;
    align-self: center;
}
.btn {
    background: var(--secondary);
    color: white;
    cursor: pointer;
}
.btn:hover{
    background: var(--secondary-hover);
    zoom: 110%;
}
.intro, .testimony{
    background: var(--bg_section);
    color: var(--primary);
}
.title {
    color: var(--secondary);
}
.approach {
    display: flex;
    flex-direction: column;
    background: var(--accent);
    color: white;
    align-items: center;
}
.approach-title, .approach-btn {
  text-align: center;
}
.approach-btn-position{
    justify-content: center;
    align-items: center;
    display: flex;
}
.approach-btn {
    background: var(--primary);
    color: white;
    cursor: pointer;
}
.approach-btn:hover{
    background: var(--primary-hover);
    zoom: 110%;
}
.work {
    padding: 12px 28px;
    border-radius: 40px;
    border: none;
}
.float {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.float:hover {
    zoom: 120%;
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
}
.flex-container {
    display: flex;
}
nav > ul {
    display: flex;
    gap: 50px;
    list-style: none;
}
nav > ul > li:hover {
    border-bottom: 1px solid black;
}
nav > ul > li {
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.actived {
    border-bottom: 1px solid black;
}
.banner, .projects, .testimony, footer{
    display: flex;
}
.banner > .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
}
.banner > .image-container {
    flex: 1;
    width: 100%;
    margin: auto;
}
.image-container > img {
    width: 100%;
}
.intro {
    text-align: center;
}
.service-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.service-content > .card {
    padding: 20px;
}
.service-content > .card > .card-title {
    font-weight: 800;
    font-size: 1.5rem;
}
.projects > .projects-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
}
.projects > .img-container {
    flex: 1;
    width: 100%;
    margin: auto;
}
.img-container > img {
    width: 100%;
    height: 100%;
}
.profile-image {
    width: 100%;
    height: 100%;
}
.testimony > .testimony-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
}
.testimony > .image-container {
    flex: 1;
    width: 100%;
}
footer {
    display: flex;
    flex-direction: row;
}
footer > .name-info {
    flex: 1;
}
footer > .contact {
    flex: 1;
}
.contact {
    align-self:auto;
}
.humberger {
    display: none;
    height: 25px;
}
.testimony-photo {
    width: 100%;
    height: 100%;
}
.humberger > img{
    height: 100%;    
}

@media screen and (max-width: 768px){
    .humberger {
        display: block;
    }
    nav > ul {
        display: none;
    }
    .banner {
        flex-direction: column-reverse;
    }
    .banner > .image-container {
        align-self: center;
    }
    .service-content {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        flex-direction: column;
    }
    .projects {
        flex-direction: column;
    }
    .projects > .img-container {
        align-self: center;
    }
    .testimony {
        flex-direction: column;
    }
    .testimony > .image-container {
        align-self: center;
    }
    .approach {
        display: flex;
        flex-direction: column;
        background: var(--accent);
        color: white;
        text-align: center;
    }
    footer{
        flex-direction: column;
        justify-content: center;
    }
    /* footer > .contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    } */
}